<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Project KIP</title>
	<link rel="stylesheet" href="MAIN.CSS">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Press+Start+2P|Quicksand" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>	
	<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
	<script src="https://d3js.org/d3.v5.js"></script>
</head>

<body>
<div class="wrapper">
    <header>
    	<div>
      		<h1>KHP-D Interactive Platform</h1>
      	</div>
    </header>

    <div class="main">
    	<div class="main-flex">
	    	<div class="side-bar">
				<div class="side-bar-item measure">
	    			<h2>Measure (y-axis)</h2>
	    			<div class="measure-list">
						<label class="radio-container">HbA1c
						  <input type="radio" checked="checked" name="measure" id="measure-hba1c" value="HBA1C">
						  <span class="radio-checkmark"></span>
						</label>
						<label class="radio-container">Cholesterol
						  <input type="radio" name="measure" id="measure-cholesterol" value="CHOL">
						  <span class="radio-checkmark"></span>
						</label>
						<label class="radio-container">eGFR
						  <input type="radio" name="measure" id="measure-egfr" value="EGFR">
						  <span class="radio-checkmark"></span>
						</label>
						<label class="radio-container">BMI
						  <input type="radio" name="measure" id="measure-bmi" value="BMI">
						  <span class="radio-checkmark"></span>
						</label>
						<label class="radio-container">BP
						  <input type="radio" name="measure" id="measure-bp" value="BP">
						  <span class="radio-checkmark"></span>
						</label>
					</div>
	    		</div>
	    		<div class="side-bar-item grouping">
	    			<h2>Grouping</h2>
	    			<div class="grouping-list">
						<label class="radio-container">Baseline result
						  <input type="radio" checked="checked" name="grouping" id="grouping-baseline" value="BASELINE">
						  <span class="radio-checkmark"></span>
						</label>
						<label class="radio-container">Diabetes type
						  <input type="radio" name="grouping" id="grouping-dmt" value="DMT">
						  <span class="radio-checkmark"></span>
						</label>
						<label class="radio-container">Ethnicity
						  <input type="radio" name="grouping" id="grouping-ethnicity" value="ETHNICITY">
						  <span class="radio-checkmark"></span>
						</label>
						<label class="radio-container">Sex
						  <input type="radio" name="grouping" id="grouping-sex" value="SEX">
						  <span class="radio-checkmark"></span>
						</label>
						<label class="radio-container">Deprivation decile
						  <input type="radio" name="grouping" id="grouping-deprivation" value="IMD">
						  <span class="radio-checkmark"></span>
						</label>
						<label class="radio-container">GP CCG
						  <input type="radio" name="grouping" id="grouping-gpccg" value="CCG">
						  <span class="radio-checkmark"></span>
						</label>
					</div>
	    		</div>
				<div class="side-bar-item filters">
	    			<h2>Filters</h2>
	    			<h3>Ethnicity</h3>
	    			<div class="filter-list-1">
						<label class="checkbox-container">White
						  <input type="checkbox" checked="checked" name="filter-list-1" id="filter-list-1-white" value="WHITE">
						  <span class="checkbox-checkmark"></span>
						</label>

						<label class="checkbox-container">Asian or Asian British
						  <input type="checkbox" checked="checked" name="filter-list-1" id="filter-list-1-asian" value="ASIAN">
						  <span class="checkbox-checkmark"></span>
						</label>

						<label class="checkbox-container">Black or Black British
						  <input type="checkbox" checked="checked" name="filter-list-1" id="filter-list-1-black" value="BLACK">
						  <span class="checkbox-checkmark"></span>
						</label>

						<label class="checkbox-container">Mixed
						  <input type="checkbox" checked="checked" name="filter-list-1" id="filter-list-1-mixed" value="MIXED">
						  <span class="checkbox-checkmark"></span>
						</label>

						<label class="checkbox-container">Other Ethnic Groups
						  <input type="checkbox" checked="checked" name="filter-list-1" id="filter-list-1-other" value="OTHER">
						  <span class="checkbox-checkmark"></span>
						</label>
					</div>
					<h3>Sex</h3>
	    			<div class="filter-list-2">
						<label class="checkbox-container">Female
						  <input type="checkbox" checked="checked" name="filter-list-2" id="filter-list-2-female" value="FEMALE">
						  <span class="checkbox-checkmark"></span>
						</label>

						<label class="checkbox-container">Male
						  <input type="checkbox" checked="checked" name="filter-list-2" id="filter-list-2-male" value="MALE">
						  <span class="checkbox-checkmark"></span>
						</label>
					</div>
					<h3>Diabetes Type</h3>
	    			<div class="filter-list-3">
						<label class="checkbox-container">Type 1
						  <input type="checkbox" checked="checked" name="filter-list-3" id="filter-list-3-t1" value="T1">
						  <span class="checkbox-checkmark"></span>
						</label>

						<label class="checkbox-container">Type 2
						  <input type="checkbox" checked="checked" name="filter-list-3" id="filter-list-3-t2" value="T2">
						  <span class="checkbox-checkmark"></span>
						</label>

						<label class="checkbox-container">GDM
						  <input type="checkbox" checked="checked" name="filter-list-3" id="filter-list-3-gdm" value="GDM">
						  <span class="checkbox-checkmark"></span>
						</label>

						<label class="checkbox-container">Other
						  <input type="checkbox" checked="checked" name="filter-list-3" id="filter-list-3-other" value="OTHER">
						  <span class="checkbox-checkmark"></span>
						</label>
					</div>
	    		</div>
				<div class="side-bar-item controls">
					<div class="control-year">
	    				<input type="text" value=2009 disabled="true" name="year" id="year" value="year">
	    			</div>
	    			<div class="control-list">
						<button class="btn"><i class="far fa-arrow-alt-circle-left fa-2x"></i></button>
						<button class="btn"><i class="far fa-play-circle fa-2x"></i></button>
						<button class="btn"><i class="far fa-arrow-alt-circle-right fa-2x"></i></button>
					</div>
	    		</div>
	    	</div>
	       	<div class="plot">
	       		<div class="plot-item">
	       		</div>
	    	</div>
    	</div>
    </div>    
</div>