<div class="side-bar-item controls">
  <div class="control-year">
	<input type="text" value=2009 name="year" id="year" class="year-box" value="year">
  </div>
	<div class="control-list">
		<button type="button" class="btn control-left"><i class="far fa-arrow-alt-circle-left fa-2x"></i></button>
		<button type="button" class="btn"><i class="far fa-play-circle fa-2x control-center"></i></button>
		<button type="button" class="btn control-right"><i class="far fa-arrow-alt-circle-right fa-2x"></i></button>
	</div>
</div>