<div class="side-bar-item filters">
  <h2>Filters</h2>
  <h3>Diabetes Type</h3>
    <div class="filter-list-3">
    <label class="checkbox-container">Type 1
      <input type="checkbox" checked="checked" name="filter-list-3" id="filter-list-3-t1" value="T1">
      <span class="checkbox-checkmark"></span>
    </label>

    <label class="checkbox-container">Type 2
      <input type="checkbox" checked="checked" name="filter-list-3" id="filter-list-3-t2" value="T2">
      <span class="checkbox-checkmark"></span>
    </label>

    <label class="checkbox-container">GDM
      <input type="checkbox" checked="checked" name="filter-list-3" id="filter-list-3-gdm" value="GDM">
      <span class="checkbox-checkmark"></span>
    </label>

    <label class="checkbox-container">Other
      <input type="checkbox" checked="checked" name="filter-list-3" id="filter-list-3-other" value="OTHER">
      <span class="checkbox-checkmark"></span>
    </label>
  </div>
  </div>