
  <h3>Diabetes Type</h3>
    <div class="filter-list-3">
    <label class="checkbox-container">Type 1
      <%= check_box_tag('diabetes_type[]', "T1", true, {:multiple => true, :class => 'input_checkbox'}) %>
      <span class="checkbox-checkmark"></span>
    </label>

    <label class="checkbox-container">Type 2
      <%= check_box_tag('diabetes_type[]', "T2", true, {:multiple => true, :class => 'input_checkbox'}) %>
      <span class="checkbox-checkmark"></span>
    </label>

    <label class="checkbox-container">GDM
      <%= check_box_tag('diabetes_type[]', "GDM", true, {:multiple => true, :class => 'input_checkbox'}) %>
      <span class="checkbox-checkmark"></span>
    </label>

    <label class="checkbox-container">Other
      <%= check_box_tag('diabetes_type[]', "OTHER", true, {:multiple => true, :class => 'input_checkbox'}) %>
      <span class="checkbox-checkmark"></span>
    </label>
  </div>
