<h3>Ethnicity</h3>
<div class="filter-list-1">

  <div class="checkbox-container">
    <%= label_tag "White" %>
    <%= check_box_tag(:ethnicity, "White", true, :class => 'checkbox-checkmark') %>
  <!-- <label class="checkbox-container">White
    <input type="checkbox" checked="checked" name="filter-list-1" id="filter-list-1-white" value="WHITE">
    <span class="checkbox-checkmark"></span>
  </label> -->
<!--
  <label class="checkbox-container">Asian or Asian British
    <input type="checkbox" checked="checked" name="filter-list-1" id="filter-list-1-asian" value="ASIAN">
    <span class="checkbox-checkmark"></span>
  </label>

  <label class="checkbox-container">Black or Black British
    <input type="checkbox" checked="checked" name="filter-list-1" id="filter-list-1-black" value="BLACK">
    <span class="checkbox-checkmark"></span>
  </label>

  <label class="checkbox-container">Mixed
    <input type="checkbox" checked="checked" name="filter-list-1" id="filter-list-1-mixed" value="MIXED">
    <span class="checkbox-checkmark"></span>
  </label>

  <label class="checkbox-container">Other Ethnic Groups
    <input type="checkbox" checked="checked" name="filter-list-1" id="filter-list-1-other" value="OTHER">
    <span class="checkbox-checkmark"></span>
  </label> -->
  </div>
</div>