<div class="side-bar-item filters">
  <h2>Filters</h2>
  <%= form_tag(search_viz_ones_path, :id => 'filter_form') do %>
    <%= render('viz_ones/ethnicity') %>
    <%= render('viz_ones/sex') %>
    <%= render('viz_ones/diabetes_type') %>
  <% end %>
</div>