<div class="side-bar-item grouping">
  <h2>Grouping</h2>
  <div class="grouping-list">
    <label class="radio-container">Baseline result
      <input type="radio" checked="checked" name="grouping" id="grouping-baseline" value="BASELINE">
      <span class="radio-checkmark"></span>
    </label>
    <label class="radio-container">Diabetes type
      <input type="radio" name="grouping" id="grouping-dmt" value="DMT">
      <span class="radio-checkmark"></span>
    </label>
    <label class="radio-container">Ethnicity
      <input type="radio" name="grouping" id="grouping-ethnicity" value="ETHNICITY">
      <span class="radio-checkmark"></span>
    </label>
    <label class="radio-container">Sex
      <input type="radio" name="grouping" id="grouping-sex" value="SEX">
      <span class="radio-checkmark"></span>
    </label>
    <label class="radio-container">Deprivation decile
      <input type="radio" name="grouping" id="grouping-deprivation" value="IMD">
      <span class="radio-checkmark"></span>
    </label>
    <label class="radio-container">GP CCG
      <input type="radio" name="grouping" id="grouping-gpccg" value="CCG">
      <span class="radio-checkmark"></span>
    </label>
  </div>
</div>