<div class="side-bar">
	<div class="side-bar-item measure">
		<h2>Measure (y-axis)</h2>
		<div class="measure-list">
		<label class="radio-container">HbA1c
		  <input type="radio" checked="checked" name="measure" id="measure-hba1c" value="HBA1C">
		  <span class="radio-checkmark"></span>
		</label>
		<label class="radio-container">Cholesterol
		  <input type="radio" name="measure" id="measure-cholesterol" value="CHOL">
		  <span class="radio-checkmark"></span>
		</label>
		<label class="radio-container">eGFR
		  <input type="radio" name="measure" id="measure-egfr" value="EGFR">
		  <span class="radio-checkmark"></span>
		</label>
		<label class="radio-container">BMI
		  <input type="radio" name="measure" id="measure-bmi" value="BMI">
		  <span class="radio-checkmark"></span>
		</label>
		<label class="radio-container">BP
		  <input type="radio" name="measure" id="measure-bp" value="BP">
		  <span class="radio-checkmark"></span>
		</label>
	</div>
</div>