<h3>Sex</h3>
  <div class="filter-list-2">
  <label class="checkbox-container">Female
    <%= check_box_tag('sex[]', "FEMALE", true, {:multiple => true, :class => 'filter_checkbox'}) %>
    <span class="checkbox-checkmark"></span>
  </label>

  <label class="checkbox-container">Male
    <%= check_box_tag('sex[]', "MALE", true, {:multiple => true, :class => 'filter_checkbox'}) %>
    <span class="checkbox-checkmark"></span>
  </label>
</div>