<h3>Sex</h3>
  <div class="filter-list-2">
  <label class="checkbox-container">Female
    <input type="checkbox" checked="checked" name="filter-list-2" id="filter-list-2-female" value="FEMALE">
    <span class="checkbox-checkmark"></span>
  </label>

  <label class="checkbox-container">Male
    <input type="checkbox" checked="checked" name="filter-list-2" id="filter-list-2-male" value="MALE">
    <span class="checkbox-checkmark"></span>
  </label>
</div>