<div class="side-bar-item measure">
	<h2>Measure (x-axis)</h2>
	<div class="measure-list">
		<label class="radio-container">Age
		  <input type="radio" checked="checked" name="x_measure" id="x_measure_age" value="age">
		  <span class="radio-checkmark"></span>
		</label>
		<label class="radio-container">HbA1c
		  <input type="radio" checked="checked" name="y_measure" id="y_measure_hba1c" value="hba1c">
		  <span class="radio-checkmark"></span>
		</label>
		<label class="radio-container">Cholesterol
		  <input type="radio" name="y_measure" id="y_measure_cholesterol" value="chol">
		  <span class="radio-checkmark"></span>
		</label>
		<label class="radio-container">eGFR
		  <input type="radio" name="y_measure" id="y_measure_egfr" value="egfr">
		  <span class="radio-checkmark"></span>
		</label>
		<label class="radio-container">BMI
		  <input type="radio" name="y_measure" id="y_measure_bmi" value="bmi">
		  <span class="radio-checkmark"></span>
		</label>
		<label class="radio-container">BP
		  <input type="radio" name="y_measure" id="y_measure_bp" value="bp">
		  <span class="radio-checkmark"></span>
		</label>
	</div>
</div>