<div class="side-bar-item measure">
	<h2>Measure (x-axis)</h2>
	<div class="measure-list">
		<label class="radio-container">Age
		  <input type="radio" checked="checked" name="x_measure" id="x_measure_age" value="age">
		  <span class="radio-checkmark"></span>
		</label>
	</div>
</div>